fastapi==0.104.1
uvicorn==0.24.0.post1
python-multipart==0.0.6
pydantic-settings>=2.0.0      # 用于配置管理
paddleocr
# 需要手动指定官方源安装 paddlepaddle-gpu。
# 下方cu130版本的安装命令仅供参考，实际安装时请根据你的CUDA版本选择合适的paddlepaddle-gpu版本。
# 手动安装命令: pip install paddlepaddle-gpu==3.0.0b2 -i https://www.paddlepaddle.org.cn/packages/stable/cu130/

pdfplumber==0.10.2
pymupdf
python-docx==0.8.11
numpy>=1.26.4,<3
language-tool-python
openpyxl
tqdm
opencv-contrib-python==4.10.0.84

python-dotenv
celery
chardet<8
redis
minio>=7.2.20
psycopg2-binary==2.9.10

# [可选] Windows 环境下用于 .doc 文件解析的 COM 依赖
# pywin32>=306